.containerLeft {
    margin-top: 20px
}

.containerRight{
    max-height: 60%
}

.rowLeft {
    margin: auto;
    margin-top: 5px
}

.pagination {
    margin: auto;
}

.titleSideBar{
    margin: auto
}

